<template>
  <div class="q-pa-md">
    <ListFilm
      :title="isMovie ? 'Now Playing' : 'On The Air'"
      :data="nowPlaying"
      @getRoute="getRoute"
    />
    <ListFilm title="Top Rated" :data="topRated" @getRoute="getRoute" />
    <ListFilm
      :title="isMovie ? 'Up Coming' : 'Popular'"
      :data="upComing"
      @getRoute="getRoute"
    />
  </div>
</template>

<script>
import ListFilm from 'components/ListFilm';
import { mapGetters } from 'vuex';

export default {
  name: 'Collections',
  data() {
    return {
      stars: 5,
      isMovie: false,
    };
  },
  components: {
    ListFilm,
  },
  async mounted() {
    this.isMovie = this.$route.fullPath.includes('movie');
    const type = this.isMovie ? 'movie' : 'tv';
    await this.$store.dispatch('movie/nowPlaying', type);
    await this.$store.dispatch('movie/topRated', type);
    await this.$store.dispatch('movie/upComing', type);
  },
  computed: {
    ...mapGetters('movie', {
      nowPlaying: 'getListNowPlaying',
      topRated: 'getListTopRated',
      upComing: 'getListUpComing',
    }),
  },
  methods: {
    getRoute(val) {
      this.isMovie
        ? this.$router.push(`/movie/details/${val}`)
        : this.$router.push(`/tv/details/${val}`);
      // this.isMovie
      //   ? this.$router.push(`/movie/details`)
      //   : this.$router.push(`/tv/details`);
    },
  },
};
</script>

<style></style>
